* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: ;
}
h2 {
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
nav img {
    float: left;
    width: 150px;
    margin-left: 80px;
}
ul {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #031C67;
  z-index: 1111;
}
nav li {
    display: inline-block;
    list-style: none;
    margin-top: 15px;
    float: left;
    padding: .5rem 1rem;
}
nav li:nth-child(1) {
    margin-left: 130px;
}
@media only screen and (max-width: 1190px) {
    nav li:nth-child(1) {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1060px) {
    nav li {
        padding: .5rem .5rem;
    }
}
@media only screen and (max-width: 935px) {
    nav img {
        display: none;
    }
}
@media only screen and (max-width: 935px) {
    nav li:nth-child(1) {
        margin-left: 100px;;
    }
}
nav li a {
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
nav li a:hover {
    color: #FF2A20;
    text-decoration: none;
}
.openMenu {
    display: none;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    .openMenu {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 20px;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    nav ul.active {
        display: block;
        background: #000;
        margin-left: 0 auto;
        opacity: 0.5;
    }
    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    nav li:nth-child(1) {
        display: none;
        margin-left: 0;
    }
}

header {
    background: url(img/banner3.jpg) no-repeat center top / cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
}
.title img {
    padding-top: 150px;
    width: 100%;
    max-width: 400px;
}
header h1 {
    margin-top: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 39px;
    font-weight: bold;
    color: #030327;
    text-transform: uppercase;
}
header p {
    font: 18px/1.9em 'librebaskerville-regular', serif;
    width: 80%;
    font-size: 22px;
    color: #47484B;
    font-style: italic;
}
.social li {
    list-style: none;
    display: inline-block;
    margin-bottom: 35px;
}
.social a {
    margin-right: 15px;
    font-size: 35px;
    color: #47484B;
    text-decoration: none;
}
.social li a:hover {
    color: #FF2A20 ;
    transition: 0.5s;
}
#history {
    background: #031C67;
    color: #fff;
}
#history h2{
    font-family: 'Gabriela', serif;
}
#history img {
    width: 200px;
    float: left;
}
#history p:last-child {
    padding-bottom: 50px;
    margin-bottom: 0;
}
#collective {
    background: #EEEEEF;
}
 #collective i {
    margin-right: 15px;
}
.collective_card {   
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: max-content;
}
@media only screen and (max-width: 1000px) {
    .collective_info p {
        margin: 4px;
    }
}
#collective img {
    width: 250px;
    margin-right: 60px;
}
@media only screen and (max-width: 1000px) {
    #collective img {
        width: 180px;
    }
}
@media only screen and (max-width: 735px) {
    #collective img {
        width: 150px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 590px) {
    #collective img {
        margin-top: 20px;
        width: 100px;
        margin-right: 15px;
    }
}
.collective_info {
    width: 100%;
}
#team {
    background: url(img/banner3.jpg) no-repeat center top / cover;
    background-attachment: fixed;
    color: #fff;
}
#team h2{
    font-family: 'Gabriela', serif;
}
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.staff_card {
    margin: 15px;
    width: 160px;
}
.staff_card img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(9,12,87,1);
    -moz-box-shadow: 0px 0px 18px 6px rgba(9,12,87,1);
    box-shadow: 0px 0px 18px 6px rgba(9,12,87,1);
    
} 
.staff_card p {
    text-align: center;
    font-size: 14px;
    line-height: 1;
    margin: 3px;
}
#contact {
    background: #031C67;
    color: #fff;
}
#collective h2 {
    font-family: 'Gabriela', serif;
}
.collective_card_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.collective_info_footer {
    max-width: 250px;
    width: 100%;
}
#contact i {
    margin-right: 10px;
}
#contact p {
    line-height: 0.8;
}
.info_adress iframe {
    float: left;
    width: 400px;
    height: 300px;
    margin-right: 50px;
}
@media only screen and (max-width: 1000px) {
    .info_adress iframe {
        width: 300px;
        height: 200px;
    }
}
.social_contact {
    margin-top: 155px;
}
@media only screen and (max-width: 1000px) {
    .social_contact  {
        margin-top: 30px;
    }
}
.social_contact li {
    list-style: none;
    display: inline-block;
    margin-bottom: 35px;
}
.social_contact a {
    margin-right: 5px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}
.social_contact li a:hover {
    color: #FF2A20 ;
    transition: 0.5s;
}